/*
body {
  font-family:'Arial';
  text-align: center;
}
*/
p {
  text-align: center;
}

header {
  display: flex;
}

header div {
  font-size: 30px;
  font-weight: bold;
}

#site_logo {
  padding : 0 200px 0 50px;  
  font-size: 30px;
  font-weight: bold;
}

.market_info {
  width: 300px;
  height: 100px;
  display: block;
  box-sizing: border-box;
}

/*
.market_info > a{
  width: 90px;
  height: 30px;
}
*/
a.market_info > img{
  height: 50%;
}
#address_confirm {
  font-weight: bold;
}

#map, adress_box {
  margin: auto;

}



#adress_box{
  visibility: hidden;    
  }


.market{
  display: inline-block;
}

.product{
  width: 300px;
  height: 100px;
}
