
body {
  padding: 0 50px;
}

p {
  text-align: center;
}

header {
  font-size: 30px;
  font-weight: bold;
  color: black;
  height: 150px;
}

#site_logo {
  text-align: left;
}

.store_logo {
  margin-left: 100px;
  max-height: 100px;
}

.site_logo_href {
  text-decoration: none;
}



.logo_small_size {
  height: 40px;
}

.market_info {
  width: 350px;
  height: 150px;
  display: block;
  box-sizing: border-box;
  text-decoration: none;  
}

a.market_info > img{
  height: 50%;
}

#address_confirm {
  font-weight: bold;
}

.market_info > p {
  text-align: left;
  margin: 0 0 0 10px ;
  
}

#map, adress_box {
  margin: auto;

}




#adress_box{
  visibility: hidden;    
  }


.market{
  display: inline-block;
}

.product{
  width: 300px;
  height: 100px;
}




.compare_list {
  display: flex;
  position: relative;
  width: 400px;
  margin: auto;
}
.compare_list > div {
  margin: 5px;
}

.compare_list > .right {
  position: absolute; 
  right:0px;
}

.compare_list > .center {
  position: absolute; 
  right: 160px;
}


