<!doctype html>
<html lang="ru">
<head>
  <title>Товары, доступные в {{ market.name }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://localhost:80/static/css/styles.css">
  <!-- Bootstrap CSS (jsDelivr CDN) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
  <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous">
  </script>

</head>
<body>
  <nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="site_logo_href" href="/">
        <div id="site_logo">
          minimal<br>
          delivery<br>
          price
        </div>
      </a>
      <img src="{{ market.retailer.appearance.logo_image }}" alt="market_logo" class="store_logo img-fluid" >
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" 
        data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"
        onclick="cart(); active_button_check()">
        Корзина
      </button>
    </div>
  </nav>

  {% if categories %}
    <div class="accordion" id="accordionParent">
    {% for category in categories %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="{{ category.id }}" 
          onclick="give('{{ category.canonical_url }}', 
            '{{ market.store_id }}', '{{ category.id }}')">
          <button class="accordion-button" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#panelsStayOpen-collapse-{{ category.id }}" 
            aria-expanded="true" 
            aria-controls="panelsStayOpen-collapse-{{ category.id }}">
            <img src="{{ category.icon_url }}" alt="category image">
            {{ category.name }}
          </button>
        </h2>
        <div id="panelsStayOpen-collapse-{{ category.id }}" 
          class="accordion-collapse collapse" aria-labelledby="{{ category.id }}">
          <div class="accordion-body">
            {% if category.children %} 
              <div class="accordion" id="accordionChild">
              {% for child in category.children %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="{{ child.id }}" 
                    onclick="give('{{ child.canonical_url }}', 
                      '{{ market.store_id }}', '{{ child.id }}')">
                    <button class="accordion-button" type="button" 
                      data-bs-toggle="collapse" 
                      data-bs-target="#panelsStayOpen-collapse-{{ child.id }}" 
                      aria-expanded="true" 
                      aria-controls="panelsStayOpen-collapse-{{ child.id }}">                 
                      {{ child.name }}
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapse-{{ child.id }}" 
                    class="accordion-collapse collapse" 
                    aria-labelledby="{{ child.id }}">
                    <div class="accordion-body" >
                      <div  id = 'products-{{ child.id }}' 
                        class="card-group row row-cols-xs-1 row-cols-sm-2 row-
                        cols-md-4 row-cols-lg-6 row-cols-xl-8 row-cols-xxl-10 ">
                        
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% else %}
            <div  id = 'products-{{ category.id }}' 
              class="card-group row row-cols-xs-1 row-cols-sm-2 row-cols-md-4 
              row-cols-lg-6 row-cols-xl-8 row-cols-xxl-10" >

            </div>
            {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  {% endif %}

  <div class="offcanvas offcanvas-start" data-bs-scroll="false" 
    data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" 
    aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
        Товары в корзине
      </h5>
      <button type="button" class="btn-close text-reset" 
        data-bs-dismiss="offcanvas" aria-label="Закрыть">
      </button>
    </div>
    <div class="offcanvas-body">
      <ul id="shoping_cart_list">
      </ul>
      <p id="total_price">
      </p>
      <!--
<span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Отключенная подсказка">
  <button class="btn btn-primary" type="button" disabled>Отключенная кнопка</button>
</span>

      -->
      <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" 
        title="Добавьте в корзину хотя бы один товар">
        <a class="btn btn-primary" id="compare_button" 
          href="#" onclick="go_to_comparison()" 
          role="button">
          Сравнить цену
        </a>
      </span>
    </div>
  </div>
  <footer>
    <hr>
    <p>Сервис находится в активной разработке.</p>
    <p>Если вы нашли ошибку или у вас предложения по улучшению работы 
    сервиса напишите на <a href="mailto:mintdragon@yandex.ruu">mintdragon@yandex.ru</a></p>
  </footer>
  
<script type="text/javascript" 
  src="http://127.0.0.1/static/scripts/product_list.js">
</script>

<script>
  function give(url, store_id, category_id) {
    // функция отправляет категорию продуктов для получения списка 
    // продуктов для категории 
    send_url(url, store_id, category_id);
}
</script>

<script type="text/javascript">

  function pluser(){
    // функция возвращает сумму цены товаров в корзине
    let total_price = 0;
    for (let i = 0; i < cart_list.length; i++) {
      total_price += parseFloat(cart_list[i].price);
    }
    return total_price.toFixed(2);
  }

  function go_to_comparison(){
    // функция готовит GET-запрос с продуктами из корзины и переводит 
    // на страницу сравнения
    let slug_list = [];
    for (let i = 0; i < cart_list.length; i++) {
      slug_list.push(cart_list[i].slug);
    }
    const request_body = slug_list.join('&');
    sessionStorage.setItem('cart_list', JSON.stringify(cart_list));
    window.location.href = "http://127.0.0.1/compare/order=" + request_body;

  }

  function cart(){
    // функция отрисовывает содержимое корзины: список продуктов и 
    // общую цену
    let ul  = document.getElementById('shoping_cart_list');
    ul.innerHTML = '';
    for (product in cart_list) {    
    let li = document.createElement('li');
    li.setAttribute('id', `product_cart_id_${cart_list[product].id}`);
    li.innerHTML = `
                    ${cart_list[product].name} - 
                    <span class='cart_price'> ${cart_list[product].price}</span> руб   
                    <button type='button' class='btn btn-outline-primary' 
                      onclick='cart_list.splice(cart_list.findIndex(function(obj) { return obj.id == ${cart_list[product].id}}), 1); 
                      cart(); active_button_check()'
                      >
                      X
                    </button>`;
    ul.appendChild(li);
    }
    let p = document.getElementById('total_price');
    p.innerHTML = `Итог: <span id='price'>${pluser()}</span> руб`;
    
  }

  function add_to_cart_list(id, name, price){
    // функция добавляет в массив объекты продуктов,
    // добавляемых в корзину
    cart_list.push(products.find(item => item.id == id));
  }

  function active_button_check(){
    // функция делает неактивной/активной кнопку "Сравнить цену"
    let btn = document.getElementById("compare_button");
    let total_price = document.getElementById("price");
    if (cart_list.length != 0) {
      btn.classList.remove('disabled');
      btn.setAttribute('aria-disabled', 'true');
    } else {
      btn.classList.add('disabled');
      btn.setAttribute('aria-disabled', 'true');
    }
  }
  
</script>

</body>
</html>
