<!doctype html>
<html lang="ru">
<head>
  <title>Сравнение цен</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://localhost:8080/static/css/styles.css">
  <!-- Bootstrap CSS (jsDelivr CDN) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>
<body>
  <header>
    <a class="site_logo_href" href="http://localhost:8080">
      <div id="site_logo">
        minimal<br>
        delivery<br>
        price
      </div>
    </a>
    <div id="'store_logo">
      сравнение стоимости доставки продуктов
    </div>
  </header>
  <p>Ищем следующий набор продуктов в разных магазинах:</p>
  <div class="product_list">
    <ul id="product_list">
    </ul>
  </div>

  {% if markets_true_set %}    
    {% for set in markets_true_set %}
    {{ set }}
      <div class="compare_list">
        <div class="left">
          <img class='logo_small_size' src='{{ set[0].retailer.appearance.logo_image }}' alt="market_logo">
        </div>
        <div class="center">
          {{ set[-1]}} руб.
        </div>
        <div class="right">
          <a href="https://sbermarket.ru/{{ set[0].retailer.slug }}?sid={{ set[0].store_id }}" 
            class="btn btn-primary" role="button" 
            data-market="{{ set[0].retailer.slug }}" 
            data-store_id="{{ set[0].store_id }}"
            data-legacy_product_id="{{ set[1].product.offer.id }}"
            onclick='doPost(list_offer_product_id(this.dataset.market), 
                            this.dataset.market, 
                            this.dataset.store_id)'>Оформить заказ</a>
        </div>
        </div>
      <div class="'hidden" id="{{ set[0].retailer.slug  }}-offer-info">
        {% for item in set[1:-1] %}
          {{ item.product.offer.id }}
        {% endfor %}
      </div>
  <a data-market="{{ set[0].retailer.slug }}"  
   onclick="list_offer_product_id(this.dataset.market)">GO</a>
  {% endfor %}
  {% endif %}
<footer>
  <hr>
  <p>Сервис находится в активной разработке.</p>
  <p>Если вы нашли ошибку или у вас предложения по улучшению работы 
    сервиса напишите на <a href="mailto:mintdragon@yandex.ruu">mintdragon@yandex.ru</a></p>
</footer>

<script type="text/javascript">
  

  async function doPost(list_offer_product_id, market, store_id) {
    // функция отправляет в Сбермаркет продуктовую корзину
    let data = [list_offer_product_id, market, store_id]; 
    alert(data);
    const response = await fetch('http://localhost:8080/push_product_list', {
      method: 'POST', 
      cache: "no-cache",
      mode: "no-cors", 
      redirect: "follow",
      headers: {
          'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify(data)
  });
  }
</script>

<script src="http://localhost:8080/static/scripts/product_list.js" 
  type="text/javascript">
</script>
<script>
  
  
  let cart = JSON.parse(sessionStorage.getItem("cart_list"));
  console.log(cart);

  function list_offer_product_id(market) {
    // Функция возвращает массив с offer_id для market
    let data = document.getElementById(market+"-offer-info").innerText;
    data = data.split(' ');
    return data;
  }

  let ul  = document.getElementById('product_list');
  // отрисовываем список продуктов из корзины
    for (product in cart) {    
    let li = document.createElement('li');
    li.innerHTML = `${cart[product].name}`;
    ul.appendChild(li);
    }
  
    
</script>
</body>
</html>